@use "./../../../scss" as *;

$clr-selected: lighten(
    $color:
        desaturate(
            $color: $clr-primary,
            $amount: 22,
        ),
    $amount: 24,
);

.optionsContainer {
    --top: 0;
    --left: 0;
    --width: 0;

    position: fixed;

    width: var(--width);
    top: var(--top);
    left: var(--left);

    z-index: 1000;
    background-color: $clr-secondary;
    color: $clr-dark;
    border-radius: 4px;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.option {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    min-height: 3rem;
    box-sizing: border-box;
    padding: 0.4rem 1rem;

    user-select: none;

    cursor: pointer;

    color: $clr-dark;

    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    background-color: $clr-secondary;

    transition: background-color 250ms;

    &:hover {
        background-color: darken($color: $clr-secondary, $amount: 5);
    }

    &.selected {
        background-color: $clr-selected;

        &:hover {
            background-color: lighten($color: $clr-selected, $amount: 7);
        }
    }

    &.current {
        color: $clr-secondary;
        background-color: darken($color: $clr-light, $amount: 10);

        &:hover {
            color: lighten($color: $clr-secondary, $amount: 7);
            background-color: darken($color: $clr-light, $amount: 3);
        }

        &.selected {
            background-color: darken($color: $clr-selected, $amount: 8);

            &:hover {
                background-color: darken($color: $clr-selected, $amount: 2);
            }
        }
    }
}
